index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><title>reveal.js</title><link rel="stylesheet" href="css/reset.css"><link rel="stylesheet" href="css/reveal.css"><link rel="stylesheet" href="css/theme/codibly.css"><!-- Theme used for syntax highlighting of code--><link rel="stylesheet" href="lib/css/monokai.css"><!-- Printing and PDF exports--><script>var link = document.createElement( 'link' );
link.rel = 'stylesheet';
link.type = 'text/css';
link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
document.getElementsByTagName( 'head' )[0].appendChild( link );</script></head><body><div class="reveal"><img class="logo-hen" src="./assets/logo-hen.png" alt=""><img class="logo-codibly" src="./assets/logo-codibly.png" alt=""><div class="slides"><!-- SLIDE 1--><section><p class="no-margin">Dawid Hen</p><p class="small">Senior Front-end Developer</p><div class="social"><a href="https://gitlab.com/Daweo93" target="_blank"><img src="./assets/icons/gitlab.png"></a><a href="https://twitter.com/dawid_hen" target="_blank"><img src="./assets/icons/twitter.png"></a><a href="https://www.linkedin.com/in/dawid-hen-a1a560b7/" target="_blank"><img src="./assets/icons/linkedin.png"></a></div></section><!-- SLIDE 2--><section><h2>Managing user permissions in React applications</h2><aside class="notes"><p>Będę mówił dziś o zarządzaniu uprawnieniami użytkowników w aplikacjach ale powiem też dlaczego warto zastanowić się nad doborem odpowiednich rozwiązań przed rozpoczęciem implementacji.</p></aside></section><!-- SLIDE 3--><section><h2>Why we should think about user permissions in advance?</h2><aside class="notes"><p>Dbanie o bezpieczenstwo jest bardzo wazne</p><p>Dostęp do danych innych użytkownikow lub ich usunięcie</p></aside></section><section><img src="./assets/jerry-meme-wait-a-minute.png"></section><!-- PHASE 1--><section><section><h3>Example</h3><h2>Simple blog app</h2></section><!-- SLIDE 4--><section><h6>Phase 1</h6><img src="./assets/castle-example/faza-1.png"><aside class="notes"><p>Pracujemy w software house nad MVP nowego produktu.</p><p>Jest to prosta aplikacja typu blog do której użytkownicy mają możliwość dodawania swoich własnych wątków (innowacyjny produkt).</p><p>Jak widzicie nie jest on zbyt skomplikowany i można by go nawet napisać w jednym pliku, ale tego nie robimy bo nie jesteśmy zwierzętami, a szanującymi się programistami.</p><p>W pierwszej fazie projektu wiemy jedynie że ten produkt będzie posiadał wielu użytkowników.</p></aside></section></section><!-- PHASE 2--><section><!-- SLIDE 5--><section><h6>Phase 2</h6><img src="./assets/castle-example/faza-2.png"><aside class="notes"><p>Czas rozszerzyć wyświetlanie oraz dodawanie postów o kolejne funkcjonalności.</p><p>Tym razem będzie to usuwanie oraz edycja postów przy czym użytkownik powinien mieć możliwość edycji oraz usuwania tylko i wyłącznie własnych postów.</p></aside></section><!-- SLIDE 6--><section style="height: 100%"><h6>Phase 2</h6><pre><code class="html" data-line-numbers="2,11">&lt;CardActions&gt;
 {User.hasSameId(user, author.id) && (
   &lt;&gt;
     &lt;Button size="small" color="primary"&gt;
       Edit
     &lt;/Button&gt;
     &lt;Button size="small" color="secondary"&gt;
       Remove
     &lt;/Button&gt;
   &lt;/&gt;
 )}
&lt;/CardActions&gt;</code></pre><aside class="notes"><p>Easy peasy</p><p>Dodamy trochę warunków sprawdzających czy ID twórcy danego postu pokrywa się z aktualnie zalogowanym użytkownikiem i gotowe.</p></aside></section></section><!-- PHASE 3--><section><!-- SLIDE 7--><section class="flex" style="height: 100%"><h6>Phase 3</h6><div class="centered-content"><div><p>New user roles to review and control content</p><p></p><ul><li>Moderator<ul><li>Is able to edit all posts</li></ul></li><li>Admin<ul><li>Is able to edit all posts</li><li>Is able to remove all posts</li></ul></li></ul></div></div></section><!-- SLIDE 8--><section><h6>Phase 3</h6><img src="./assets/castle-example/faza-3.png"><aside class="notes"><p>Widok administratora</p></aside></section><!-- SLIDE 8--><section style="height: 100%"><h6>Phase 3</h6><pre><code class="html" data-line-numbers="2-3,7-9,13">&lt;MuiCardsActions&gt;
 {(User.hasSameId(user, authorId) ||
  User.hasOneOfRole(user, [Role.MODERATOR, Role.ADMIN])) && (
   &lt;Button size="small" color="primary"&gt;
     Edit
   &lt;/Button&gt;
 )}
 {(User.hasSameId(user, authorId) ||
  User.hasOneOfRole(user, [Role.ADMIN])) && (
   &lt;Button size="small" color="secondary"&gt;
     Remove
   &lt;/Button&gt;
 )}
&lt;/MuiCardsActions&gt;</code></pre><aside class="notes"><p>To rozwiązanie jak najbardziej działa ale czy jesteśmy z niego do końca zadowoleni?</p><p>Kod staje się mniej czytelny</p><p>W komponencie umieszczamy logikę związana z uprawnieniami</p><p>No i w końcu co powie nasz team lead podczas code review?</p></aside></section><section><h6>Is this solution right?</h6><ul><li class="fragment">Code is growing and starting to be unreadable</li><li class="fragment">We are duplicating checking of the user permissions in components</li><li class="fragment">This solution is not scalable and it might generate issues in future ...</li><li class="fragment">... and what the code reviewer will say when he will see it ?</li></ul></section><section data-background-image="/assets/sherlock.gif"></section><section><h3>So what we can do with it?</h3><p class="fragment">Extract statements from the component and create separated functions for them</p><p class="fragment">or</p><p class="fragment">Use library which has been created for this purpose</p></section><!-- PHASE 4--></section><section><section><h2>CASL</h2><h6>(pronounced /ˈkæsəl/, like <img src="./assets/castle.svg" style="display: inline-block; height: 32px; margin: 0; box-shadow: none;">)</h6><p>Authorization JavaScript library which restricts what resources a given user is allowed to access.</p><aside class="notes"><p>Biblioteka dzięki ktorej w latwy sposob definiujemy do jakich zasobow ma dostęp dany użytkownik</p><p>Słownikowy izomorfizm można oględnie przetłumaczyć na „nie taki sam, ale podobnie wyglądający, o podobnej strukturze”.</p></aside></section><section><p>This package provides Can component which can be used to conditionally show UI elements based on user abilities.</p></section><section><p>All permissions are defined in a single location and not duplicated across UI components.</p><pre><code class="hljs -no-max">export const createAbility = (user: User.Base) => {
  const { can, rules } = AbilityBuilder.extract();

  switch (user.role) {
    case Role.ADMIN:
      can(['edit', 'remove'], 'Post');
    break;
    case Role.MODERATOR:
      can(['edit'], 'Post');
    break;
    case Role.USER:
      can('create', 'Post');
      can(['edit', 'remove'], 'Post', { author: { id: user.id } });
    break;
  }

  return new Ability(rules);
};</code></pre></section><section><pre><code class="html">&lt;Can I="create" a="Post" ability={ability}&gt;
  &lt;button onClick={() => createPost()}&gt;Create Post&lt;/button&gt;
&lt;/Can&gt;</code></pre><ul><li class="fragment"><span class="highlight">I</span> (<span class="highlight">do</span> is an alias) - name of the action and field (e.g., <span class="highlight">read</span>, <span class="highlight">update</span> or <span class="highlight">read title</span>).</li><li class="fragment"><span class="highlight">a</span> (<span class="highlight">on</span>, <span class="highlight">of</span>, this are aliases) - checked subject</li><li class="fragment"><span class="highlight">not</span> - checks whether the ability does not allow an action</li><li class="fragment"><span class="highlight">ability</span> - an instance of Ability which will be used to check permissions</li></ul></section><section><p>Abilities are provided to the components trough the context</p><pre><code class="hljs -no-max">// Create ability context
export const AbilityContext = createContext({});
AbilityContext.displayName = 'AbilityContext';

// Create custom Can component which will use our newly created context
export const Can = createContextualCan(AbilityContext.Consumer);

// Ability context provider
export const AbilityProvider: FC = ({ children }) => {
  // Get current user from the context
  const { user } = useUserContext();

  // Provide current user to ability builder to create rules based on user role
  const ability = createAbility(user);

  return &lt;AbilityContext.Provider value={ability}&gt;{children}&lt;/AbilityContext.Provider&gt;;
};</code></pre></section><section><p>Then we <strong>Can</strong> wrap component which should be displayed based on permission</p><pre><code class="html" data-line-numbers="3,7,8,12">export const CardActions: FunctionComponent&lt;Props&gt; = ({ post }) => (
  &lt;MuiCardsActions&gt;
    &lt;Can I="edit" of={post}&gt;
      &lt;Button size="small" color="primary"&gt;
        Edit
      &lt;/Button&gt;
    &lt;/Can&gt;
    &lt;Can I="remove" of={post}&gt;
      &lt;Button size="small" color="secondary"&gt;
        Remove
      &lt;/Button&gt;
    &lt;/Can&gt;
  &lt;/MuiCardsActions&gt;
);</code></pre><aside class="notes"><p>Oczywiscie definiowanie uprawnien mozemy, a nawet powinnismy podzielic domenowo</p><p>W takim przypadku mozemy</p></aside></section><section><h6>Much, much better</h6><p class="fragment">Logic for permission is defined and provided by context ...</p><p class="fragment">... that's why component doesn't contain it itself ...</p><p class="fragment">... and we don't need to duplicate it in many places ...</p><p class="fragment">... in the result the code is more issue resistant ...</p><p class="fragment">... and now you can wait what code reviewer will say :)</p></section><section data-background-image="/assets/cat.gif"></section><section><h1>Q&A</h1><h6 class="fragment">Thank you</h6></section></section></div></div><script src="js/reveal.js"></script><script>// More info about config & dependencies:
// - https://github.com/hakimel/reveal.js#configuration
// - https://github.com/hakimel/reveal.js#dependencies
Reveal.initialize({
  slideNumber: true,
  progress: false,
  dependencies: [
    { src: 'plugin/markdown/marked.js' },
    { src: 'plugin/markdown/markdown.js' },
    { src: 'plugin/notes/notes.js', async: true },
    { src: 'plugin/highlight/highlight.js', async: true }
  ]
});

const hen = document.querySelector('.logo-hen');
Reveal.addEventListener('slidechanged', function (event) {
  // setTimeout(function() {
    let progress = Math.round(Reveal.getProgress() * 100);
    let left = 0;
    if(progress === 0) {
       left = `50px`;
    } else if (progress === 100) {
      left = `calc(100% - 87px)`;
    } else {
      left = `${progress}%`;
    }
    hen.style.left = left;
  // }, 500)
});</script></body></html>

index.pug
extends templates/layout/main

block content
  // SLIDE 1
  section
    p.no-margin Dawid Hen
    p.small Senior Front-end Developer
    div.social
        a(href="https://gitlab.com/Daweo93" target="_blank")
          img(src='./assets/icons/gitlab.png')
        a(href="https://twitter.com/dawid_hen" target="_blank")
          img(src='./assets/icons/twitter.png')
        a(href="https://www.linkedin.com/in/dawid-hen-a1a560b7/" target="_blank")
          img(src='./assets/icons/linkedin.png')

  // SLIDE 2
  section
    h2 Managing user permissions in React applications
    aside.notes
     p Będę mówił dziś o zarządzaniu uprawnieniami użytkowników w aplikacjach ale powiem też dlaczego warto zastanowić się nad doborem odpowiednich rozwiązań przed rozpoczęciem implementacji.

  // SLIDE 3
  section
    h2 Why we should think about user permissions in advance?
    aside.notes
      p Dbanie o bezpieczenstwo jest bardzo wazne
      p Dostęp do danych innych użytkownikow lub ich usunięcie

  section
    img(src="./assets/jerry-meme-wait-a-minute.png")

  // PHASE 1
  section
    section
      h3 Example
      h2 Simple blog app
    // SLIDE 4
    section
      h6 Phase 1
      img(src='./assets/castle-example/faza-1.png')
      aside.notes
        p Pracujemy w software house nad MVP nowego produktu.
        p Jest to prosta aplikacja typu blog do której użytkownicy mają możliwość dodawania swoich własnych wątków (innowacyjny produkt).
        p Jak widzicie nie jest on zbyt skomplikowany i można by go nawet napisać w jednym pliku, ale tego nie robimy bo nie jesteśmy zwierzętami, a szanującymi się programistami.
        p W pierwszej fazie projektu wiemy jedynie że ten produkt będzie posiadał wielu użytkowników.

  // PHASE 2
  section
    // SLIDE 5
    section
      h6 Phase 2
      img(src='./assets/castle-example/faza-2.png')
      aside.notes
        p Czas rozszerzyć wyświetlanie oraz dodawanie postów o kolejne funkcjonalności.
        p Tym razem będzie to usuwanie oraz edycja postów przy czym użytkownik powinien mieć możliwość edycji oraz usuwania tylko i wyłącznie własnych postów.

    // SLIDE 6
    section(style="height: 100%")
      h6 Phase 2
      pre
        code.html(data-line-numbers="2,11")
          |&lt;CardActions&gt;
          |  {User.hasSameId(user, author.id) && (
          |    &lt;&gt;
          |      &lt;Button size="small" color="primary"&gt;
          |        Edit
          |      &lt;/Button&gt;
          |      &lt;Button size="small" color="secondary"&gt;
          |        Remove
          |      &lt;/Button&gt;
          |    &lt;/&gt;
          |  )}
          |&lt;/CardActions&gt;

      aside.notes
        p Easy peasy
        p Dodamy trochę warunków sprawdzających czy ID twórcy danego postu pokrywa się z aktualnie zalogowanym użytkownikiem i gotowe.


  // PHASE 3
  section
    // SLIDE 7
    section(style="height: 100%").flex
      h6 Phase 3
      div.centered-content
        div
          p New user roles to review and control content
          p
          ul
            li
              | Moderator
              ul
                li Is able to edit all posts
            li
              | Admin
              ul
                li Is able to edit all posts
                li Is able to remove all posts

    // SLIDE 8
    section
      h6 Phase 3
      img(src='./assets/castle-example/faza-3.png')
      aside.notes
        p Widok administratora

    // SLIDE 8
    section(style="height: 100%")
      h6 Phase 3
      pre
        code.html(data-line-numbers="2-3,7-9,13")
          |&lt;MuiCardsActions&gt;
          |  {(User.hasSameId(user, authorId) ||
          |   User.hasOneOfRole(user, [Role.MODERATOR, Role.ADMIN])) && (
          |    &lt;Button size="small" color="primary"&gt;
          |      Edit
          |    &lt;/Button&gt;
          |  )}
          |  {(User.hasSameId(user, authorId) ||
          |   User.hasOneOfRole(user, [Role.ADMIN])) && (
          |    &lt;Button size="small" color="secondary"&gt;
          |      Remove
          |    &lt;/Button&gt;
          |  )}
          |&lt;/MuiCardsActions&gt;

      aside.notes
        p To rozwiązanie jak najbardziej działa ale czy jesteśmy z niego do końca zadowoleni?
        p Kod staje się mniej czytelny
        p W komponencie umieszczamy logikę związana z uprawnieniami
        p No i w końcu co powie nasz team lead podczas code review?

    section
      h6 Is this solution right?
      ul
        li.fragment Code is growing and starting to be unreadable
        li.fragment We are duplicating checking of the user permissions in components
        li.fragment This solution is not scalable and it might generate issues in future ...
        li.fragment ... and what the code reviewer will say when he will see it ?

    section(data-background-image="/assets/sherlock.gif")

    section
      h3 So what we can do with it?
      p.fragment Extract statements from the component and create separated functions for them
      p.fragment or
      p.fragment Use library which has been created for this purpose

    // PHASE 4
  section
    section
      h2 CASL
      h6 (pronounced /ˈkæsəl/, like #[img(src="./assets/castle.svg" style="display: inline-block; height: 32px; margin: 0; box-shadow: none;")])
      p Authorization JavaScript library which restricts what resources a given user is allowed to access.
      aside.notes
        p Biblioteka dzięki ktorej w latwy sposob definiujemy do jakich zasobow ma dostęp dany użytkownik
        p Słownikowy izomorfizm można oględnie przetłumaczyć na „nie taki sam, ale podobnie wyglądający, o podobnej strukturze”.

    section
      p This package provides Can component which can be used to conditionally show UI elements based on user abilities.

    section
      p All permissions are defined in a single location and not duplicated across UI components.
      pre
        code.hljs.-no-max
          |export const createAbility = (user: User.Base) => {
          |   const { can, rules } = AbilityBuilder.extract();
          |
          |   switch (user.role) {
          |     case Role.ADMIN:
          |       can(['edit', 'remove'], 'Post');
          |     break;
          |     case Role.MODERATOR:
          |       can(['edit'], 'Post');
          |     break;
          |     case Role.USER:
          |       can('create', 'Post');
          |       can(['edit', 'remove'], 'Post', { author: { id: user.id } });
          |     break;
          |   }
          |
          |   return new Ability(rules);
          |};

    section
      pre
        code.html
          | &lt;Can I="create" a="Post" ability={ability}&gt;
          |   &lt;button onClick={() => createPost()}&gt;Create Post&lt;/button&gt;
          | &lt;/Can&gt;

      ul
        li.fragment #[span.highlight I] (#[span.highlight do] is an alias) - name of the action and field (e.g., #[span.highlight read], #[span.highlight update] or #[span.highlight read title]).
        li.fragment #[span.highlight a] (#[span.highlight on], #[span.highlight of], this are aliases) - checked subject
        li.fragment #[span.highlight not] - checks whether the ability does not allow an action
        li.fragment #[span.highlight ability] - an instance of Ability which will be used to check permissions


    section
      p Abilities are provided to the components trough the context
      pre
        code.hljs.-no-max
          | // Create ability context
          | export const AbilityContext = createContext({});
          | AbilityContext.displayName = 'AbilityContext';
          |
          | // Create custom Can component which will use our newly created context
          | export const Can = createContextualCan(AbilityContext.Consumer);
          |
          | // Ability context provider
          | export const AbilityProvider: FC = ({ children }) => {
          |   // Get current user from the context
          |   const { user } = useUserContext();
          |
          |   // Provide current user to ability builder to create rules based on user role
          |   const ability = createAbility(user);
          |
          |   return &lt;AbilityContext.Provider value={ability}&gt;{children}&lt;/AbilityContext.Provider&gt;;
          | };

    section
      p Then we <strong>Can</strong> wrap component which should be displayed based on permission
      pre
        code.html(data-line-numbers="3,7,8,12")
          | export const CardActions: FunctionComponent&lt;Props&gt; = ({ post }) => (
          |   &lt;MuiCardsActions&gt;
          |     &lt;Can I="edit" of={post}&gt;
          |       &lt;Button size="small" color="primary"&gt;
          |         Edit
          |       &lt;/Button&gt;
          |     &lt;/Can&gt;
          |     &lt;Can I="remove" of={post}&gt;
          |       &lt;Button size="small" color="secondary"&gt;
          |         Remove
          |       &lt;/Button&gt;
          |     &lt;/Can&gt;
          |   &lt;/MuiCardsActions&gt;
          | );

      aside.notes
        p Oczywiscie definiowanie uprawnien mozemy, a nawet powinnismy podzielic domenowo
        p W takim przypadku mozemy

    section
      h6 Much, much better
      p.fragment Logic for permission is defined and provided by context ...
      p.fragment ... that's why component doesn't contain it itself ...
      p.fragment ... and we don't need to duplicate it in many places ...
      p.fragment ... in the result the code is more issue resistant ...
      p.fragment ... and now you can wait what code reviewer will say :)

    section(data-background-image="/assets/cat.gif")

    section
      h1 Q&A
      h6.fragment Thank you
